<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="Andrew Boydston">
        <meta name="description" content="This is a review site">
        <title>Review Site</title>

        <!-- hotlink to Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/main.css"/>

      
        <script src="lib/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>
    </head>
    <body>
        <main class="container-fluid" ng-app="CommentApp" ng-controller="CommentController">
         <section>
                <img src="img/super-bass-o-matic-76.jpg" alt="product picture" class="product-picture">
                <h1>The Super Bass-o-Matic '76</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cumque deserunt ullam repudiandae nisi corporis! Ipsum, ducimus commodi, itaque porro distinctio consequuntur! Autem doloremque numquam nemo ex nulla tempora quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nihil doloribus excepturi quisquam error possimus veritatis facere, commodi cumque ab atque dolore ducimus obcaecati ipsa, impedit! Consequuntur, eligendi iure cumque!</p>
            </section>

            <section>
                <h2 id='comment'>Add Comment</h2>
                <form id='comment-form' ng-submit="addComment()">
                    <div class="form-group">
                        <label for="comment-title">Name</label>

                        <input type="text" id="comment-name" class="form-control"
                               placeholder="Name" name='name' ng-model="newComment.name"/>

                        <label for="comment-comment" id="title">Title of Comment</label>

                        <label id='priority'>Rating</label>
                        <rating max="5" ng-model="newComment.priority"></rating>

                        <input type="text" id="comment-title" class="form-control"
                               placeholder="Title" name='title' ng-model="newComment.title"/>
                    </div>

                    <div class="form-group">
                        <label for="comment-comment">Comment</label>
                        <textarea class="form-control" rows="3" id="comment-comment"
                               placeholder="Comment goes here..." name='comment' ng-model="newComment.comment"></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-disabled="inserting">Add Comment</button>
                    </div>
                </form>
            </section>

            <section>
                <h2>Comments</h2>

                <p>
                    <button class="btn btn-primary" ng-click="refreshComments()">Refresh</button>
                </p>

                 <div class="jumbotron" ng-repeat="comment in comments" td ng-class="{done: comment.done}">
                        <h3 id="rating">{{comment.title}}</h3>
                        <rating id="rating" max="5" ng-model="comment.priority" ng-change="updateComment(comment)" readonly="comment.done"></rating>
                        <p id="ratingVotes">{{comment.votes || 0}}</p>
                        <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementVotes(comment, 1)"></span>
                        <span class="glyphicon glyphicon-thumbs-down" ng-click="incrementVotes(comment, -1)"></span>
                        <p id='name'>Comment submitted by: {{comment.name}}</p>
                        <p id="commentBody">{{comment.comment}}</p>

                         <input type="checkbox" ng-model="comment.done" ng-change="updateComment(comment)"/> <p id="check">Remove Comment</p>
                    </div>

            </section>
        </main>
        <script src="js/validate.js"></script>
        <script src="js/app.js"></script>
     
    </body>
</html>